*, body{
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(10, 10, 121);
    border-bottom: solid 2px rgb(16, 16, 184);
    padding: 16px;
    width: 90%;
    text-align: center;
}

.navbar {
    background-color: rgb(10, 10, 121);
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    width: 100vw;
}

.svg-icon {
    filter: invert(100);
}

.navbar>ul{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
}

.navbar>ul>li>a{
    display: flex;
    color: white;
    gap: 16px;
    align-items: center;
}

.navbar>ul>li>a>img{
    max-width: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px 36px;
}

.team {
    display:flex;
    flex-direction: column;
    margin: 20px 0px;
}

.team-bracket {
    display: flex;
    -webkit-box-shadow: 4px 3px 29px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 3px 29px 6px rgba(0,0,0,0.2);
    box-shadow: 4px 3px 29px 6px rgba(0,0,0,0.2);
    justify-content: space-between;
}

.team-name, .score{
    padding: 6px;
    color: black;
}

.team-name {
    width: 100%;
    max-width: 20rem;
}



.team-bracket:hover .team-name,
.team-bracket:hover .score {
    background-color: rgb(16, 16, 184);
    color: white;
}

.score{
    width: 3rem;
    text-align: center;
    font-weight: 900;
}

.container-stage-brackets {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: auto;
}

.bracket-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matches{
    display: flex;
    flex-direction: column;
    height: 60rem;
    justify-content: space-around;
}

.date{
    padding: 4px;
    color:  rgb(16, 16, 184);
}


@media (max-width: 1185px) and (min-width: 891px) {
    .container-stage-brackets {
        width: 800px;
    }
}

@media (max-width: 890px) and (min-width: 851px) {
    .container-stage-brackets {
        width: 100vw;
        margin: 0;
    }
}

@media (max-width: 850px) {
    .container-stage-brackets {
        flex-direction: column;
        width: 100vw;
    }

    h2{
        font-size: 2rem;
        width: 60%;
    }

    .matches {
        height: auto;
        font-size: 1rem;
    }

    .team-name, .score {
        padding: 10px;
    }

    .navbar>ul{
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .navbar>ul>li>a{
        gap: 0px;
    }

    .navbar>ul .home>span {
        visibility: hidden;
        text-indent: -9999px; /* Moves text off the screen */
        white-space: nowrap;  /* Prevents text from wrapping */
        overflow: hidden;
    }

    .svg-icon{
        width: 3rem;
    }
}