*, body{
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    text-align: center;
}

.navbar {
    background-color: rgb(10, 10, 121);
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
}

.navbar>ul{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 700;
    align-items: center;
}

.navbar>ul>li>a{
    display: flex;
    color: white;
    gap: 16px;
    align-items: center;
}

.navbar>ul>li>a>img{
    max-width: 3rem;
}