*, body{
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(10, 10, 121);
    border-bottom: solid 2px rgb(16, 16, 184);
    padding: 16px;
    width: 90%;
    text-align: center;
}

.primary-button{
    border: none;
    background-color: rgb(208, 208, 241);
    padding: 4px 0px;
    color: rgb(10, 10, 121);
}

.primary-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.secondary-heading {
    color: rgb(10, 10, 121);
    font-size: 1.5rem;
}

.navbar {
    background-color: rgb(10, 10, 121);
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    width: 100vw;
}

.svg-icon {
    filter: invert(100);
}

.navbar>ul{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
}

.navbar>ul>li>a{
    display: flex;
    color: white;
    gap: 16px;
    align-items: center;
}

.navbar>ul>li>a>img{
    max-width: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px 36px;
}

.team {
    display:flex;
    flex-direction: column;
    margin: 20px 0px;
}

.team-bracket {
    display: flex;
    -webkit-box-shadow: 4px 3px 29px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 3px 29px 6px rgba(0,0,0,0.2);
    box-shadow: 4px 3px 29px 6px rgba(0,0,0,0.2);
    justify-content: space-between;
}

.team-name, .score{
    padding: 6px;
    color: black;
}

.team-name {
    width: 100%;
    max-width: 20rem;
}



.team-bracket:hover .team-name,
.team-bracket:hover .score {
    background-color: rgb(16, 16, 184);
    color: white;
}

.score{
    width: 3rem;
    text-align: center;
    font-weight: 900;
}

.container-stage-brackets {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: auto;
}

.bracket-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matches{
    display: flex;
    flex-direction: column;
    height: 60rem;
    justify-content: space-around;
}

.date{
    padding: 4px;
    color:  rgb(16, 16, 184);
}

.team-container, 
.teams-container,
.match-container,
.formation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.team-container>h1,
.teams-container>h1{
    color: rgb(10, 10, 121);
    margin: 36px 0px;
}

.players, .teams{
    font-weight: 800;
    width: 100%; /* Ensure table spans full container width */
    max-width: 900px; /* Optionally, set a max-width for the table */
    border-collapse: collapse; /* Avoids extra spacing between cells */
}

.players th {
    text-align: left; 
    color: rgb(151, 151, 151);
    padding: 6px 8px;
}

.players > tbody > tr > td {
    padding: 6px 8px;
    border-bottom: 1px solid rgb(151, 151, 151);
    font-size: 1.3rem;
    text-align: left; 
}

.players tbody tr:hover,
.teams tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); 
}

.players .position{
    padding: 12px 6px;
}

.players .position>span{
    color: white;
    padding: 8px 6px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    font-size: 1rem;
}

.teams>tbody>tr>td{
    padding: 6px 8px;
    border-bottom: 1px solid rgb(151, 151, 151);
    font-size: 1.3rem;
    text-align: center; 
}
.match-result>.score{
    width: auto;
    font-size: 4rem;
    font-weight: 1000;
}

.match-result>.team-name{
    width: auto;
}

.match-result{
    max-width: 700px;
    font-size: 2.5rem;
    display: grid;
    justify-content: center;
    grid-column-gap: 4rem;
    column-gap: 3rem;
    grid-row-gap: 0;
    row-gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(5rem, auto) minmax(0, 1fr);
    align-items: center;
}

.formation-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
    margin-bottom: 160px;
}


@media (max-width: 1185px) and (min-width: 891px) {
    .container-stage-brackets {
        width: 800px;
    }
}

@media (max-width: 890px) and (min-width: 851px) {
    .container-stage-brackets {
        width: 100vw;
        margin: 0;
    }
}

@media (max-width: 850px) {
    .container-stage-brackets {
        flex-direction: column;
        width: 100vw;
    }

    h2{
        font-size: 2rem;
        width: 60%;
    }

    .matches {
        height: auto;
        font-size: 1rem;
    }

    .team-name, .score {
        padding: 10px;
    }

    .navbar>ul{
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .navbar>ul>li>a{
        gap: 0px;
    }

    .navbar>ul .home>span {
        visibility: hidden;
        text-indent: -9999px; /* Moves text off the screen */
        white-space: nowrap;  /* Prevents text from wrapping */
        overflow: hidden;
    }

    .svg-icon{
        width: 3rem;
    }

    .formation-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 7rem;
        justify-items: center;
        
    }

    .formation-container .formation{
        width: 160%;
    }
    
}

@media (max-width: 740px){
    .match-container{
        width: 100vw;
        padding: 0;
    }
    .match-result{
        max-width: 350px;
        column-gap: 0rem;
        font-size: 1.2rem;
    }

    .match-result>.score{
        font-size: 2rem;
    }
}

